body{
    background-color: rgb(196, 196, 207);
}
.körper{
    max-width: 1500PX;
    background-color: rgb(17, 17, 24);
    width: 100%;
    height: 100%;
}
h1{
  margin-left: 15.5%;  
}
li{
    padding-bottom: 0.5%;
}
.section {
    
    padding-left: 5%;
    padding-bottom: 1.25%;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(56, 67, 165);
    width: 40%;
    height: 100%;
    color: black;
    float: left;
    box-sizing: border-box;
}
#picture{
    margin-left: 10%;
    width: 50%;
    height: 60%;
    border-radius: 60%;
    
}
#job{
    text-transform: uppercase;
}
#name{
    text-transform: uppercase;
}
.linkedin {       
    background-image: url(https://img.freepik.com/iconos-gratis/linkedin_318-187585.jpg?w=2000);          
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 25px;
    background-position: center;  
    background-size: 25px 25px ;  
}
.gmail {       
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/009/911/504/small/gmail-logotype-flat-illustration-free-vector.jpg);          
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 25px;
    background-position: center;  
    background-size: 25px 25px ;  
}
.contacto {       
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8fbaX2mAYWZdNOsZwXzU1XFeo9hbY1coqLsLMrrs&s);          
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 25px;
    background-position: center;  
    background-size: 25px 25px ;  
}
.homeweb {       
    background-image: url(https://w7.pngwing.com/pngs/907/970/png-transparent-white-house-logo-computer-icons-home-house-home-blue-angle-text-thumbnail.png);          
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 25px;
    background-position: center;  
    background-size: 25px 25px ;  
}
.portfolio {       
    background-image: url(https://img.freepik.com/free-icon/portfolio_318-562912.jpg?w=2000);          
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 25px;
    background-position: center;  
    background-size: 25px 25px ;  
}
a{
 color: black;   
}
#skills{
    margin-bottom: 9.4%;
}
.aside{
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
    margin-right: 1%;
    margin-bottom: 2%;
    background: rgb(223, 223, 223);
    width: 58%;
    height: 100%;
    color: black;    
    float: left; 
    box-sizing: border-box;
}
h3{
    background-color: rgb(193, 245, 245);
}
.button_cotainer{
    display: none;
}
#works_picture{
    display: none;
}
#educations_picture{
    display: none;
}
#certifications_picture{
    display: none;
}
.menus_buttons{
    display: none;
}

@media screen and (max-width:767px) and (min-width:0px){
    .section{
        width: 100%;
        float: left;
    }
    .aside{
        width: 100%;
        float: left;
    }
    #name{
        margin-left: 19%;
    }
    #works_picture{
        display: none;
    }
    #educations_picture{
        display: none;
    }
    #certifications_picture{
        display: none;
    }}

@media screen and (max-width:1023px) and (min-width: 768px){
    .section{
        width: 45%;
    }
    .aside{
        width: 50%;
    }
    .button_container{
        display: block;
        width: 100%;
        height: 10%;
        box-sizing: border-box;
        padding: 2%;
    }
    .menus_buttons{
        display: initial;
        width: 32%;
        height: 100%;
        font-size: 54%; 
    }
    h3{
        padding-left: 26%;
    }
    .contenedor_imagenes{
        width: 100%;
        height: 20%;
    }
    #works_picture{
        display: block;
        width: 100%;
        height: 20%;
    }
    .work_experiencie{
        display: block;
    }
    #educations_picture{
        display: none;
        width: 100%;
        height: 20%;
    }
    .education_history{
        display: none;
    }
    #certifications_picture{
        display: none;
        width: 100%;
        height: 20%;
    }
    .certifications{
        display: none;
    }
    .aside{
        padding-bottom: 7.5%;
    }
}

@media screen and (min-width:0px) and (max-width:360px){
    #picture{
        margin-left: 22%;
    }
}

@media screen and (min-width:361px) and (max-width:428px){
    #picture{
        margin-left: 18%;
    }
}

@media screen and (min-width:429px) and (max-width:500px){
    #picture{
        margin-left: 16%;
    }
}


@media screen and (min-width:501px) and (max-width:664px){
    #name{
        margin-left: 23%;
    }
    #picture{
        margin-left: 16%;
    }
}

@media screen and (min-width:665px) and (max-width:767px){
    #name{
        margin-left: 27%;
    }
    #picture{
        margin-left: 16%;
    }
}

@media screen and (min-width:768px) and (max-width:828px){
    #picture{
        margin-left: 19.5%;
    }
    .aside{
        padding-bottom: 7.5%;
    }
    #activities_list{
        padding-bottom: 0%;
    }
    #achievement_list{
        padding-bottom: 12%;
    }
    #obtaining_certificates2{
        padding-bottom: 14%;
    }
    .section{
        padding-bottom: 4.5%;
    }
}

@media screen and (min-width:829px) and (max-width:857px){
    #picture{
        margin-left: 17.5%;
    }
    .aside{
        padding-bottom: 10%;
    }
    #activities_list{
        padding-bottom: 0%;
    }
    #achievement_list{
        padding-bottom: 6%;
    }
    #obtaining_certificates2{
        padding-bottom: 8%;
    }
    .section{
        padding-bottom: 2.5%;
    }
}

@media screen and (min-width:858px) and (max-width:900px){
    #picture{
        margin-left: 17%;
    }
    .aside{
        padding-bottom: 12%;
    }
    #activities_list{
        padding-bottom: 4%;
    }
    #achievement_list{
        padding-bottom: 4%;
    }
    #obtaining_certificates2{
        padding-bottom: 6%;
    }
    .section{
        padding-bottom: 2.5%;
    }
}

@media screen and (min-width:901px) and (max-width:945px){
    #picture{
        margin-left: 16.5%;
    }
    .aside{
        padding-bottom: 11%;
    }
    #activities_list{
        padding-bottom: 3%;
    }
    #achievement_list{
        padding-bottom: 1%;
        
    }
    #obtaining_certificates2{
        padding-bottom: 3.5%;
        
    }
    .section{
        padding-bottom: 2.5%;
    }
}

@media screen and (min-width:946px) and (max-width:999px){
    #picture{
        margin-left: 14%;
    }
    .aside{
        padding-bottom: 10.5%;
    }
    #activities_list{
        padding-bottom: 3%;
    }
    #achievement_list{
        padding-bottom: 1%;
    }
    #obtaining_certificates2{
        padding-bottom: 3%;
        
    }
    .section{
        padding-bottom: 3.3%;
    }
}

@media screen and (min-width:1000px) and (max-width:1023px){
    #picture{
        margin-left: 14%;
    }
    .aside{
        padding-bottom: 10%;
    }
    #activities_list{
        padding-bottom: 3%;
    }
    #achievement_list{
        padding-bottom: 0%;
    }
    #obtaining_certificates2{
        padding-bottom: 2%;

    }
    .section{
        padding-bottom: 3.3%;
    }

}

@media screen and (min-width:1024px) and (max-width:1025px){
    .section{
        padding-bottom: 10%;
    }
    #picture{
        margin-left: 16.5%;
    }
}

@media screen and (min-width:1026px) and (max-width:1035px){
    .section{
        padding-bottom: 7.9%;
    }
    #picture{
        margin-left: 16.5%;
    }
}

@media screen and (min-width:1036px) and (max-width:1055px){
    .section{
        padding-bottom: 5.8%;
    }
    #picture{
        margin-left: 16.5%;
    }
}

@media screen and (min-width:1055px) and (max-width:1090px){
    .section{
        padding-bottom: 5.2%;
    }
    #picture{
        margin-left: 16%;
    }
}

@media screen and (min-width:1090px) and (max-width:1105px){
    .section{
        padding-bottom: 4.7%;
    }
    #picture{
        margin-left: 15%;
    }
}

@media screen and (min-width:1105px) and (max-width:1115px){
    .section{
        padding-bottom: 4.5%;
    }
    #picture{
        margin-left: 14%;
    }
}





